.memoryCards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    gap: 1px;
    border: 1px solid black;
}

.memoryCards > p {
    grid-column: 3 / 5;
    font-size: 2rem;
}

.card {
    width: 100px;
    background-color: white;
}

.end[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-size: 2rem;
    position: absolute;
    top: 25%;
}

#loading {
    background-color: white;
}